<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/albums">All Albums</a> <br />

    <a href="/albums/new">Add a new Album</a>

    <p>Welcome to <%= title %></p>
  </body>
</html>
